<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/main-page :: main-header(titlePage=${title})">

</head>
<body class="fix-header">
<div id="wrapper">
    <nav th:replace="fragments/main-page :: main-navbar(username=${username})"></nav>
    <div th:replace="fragments/main-page :: main-sidebar"></div>

    <div id="page-wrapper">
        <div>
            <div class="row bg-titlePage">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Product</h4> </div>
            </div>



            <!-- table -->
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">

                    <!-- Card Table Employee -->
                    <div class="white-box">

                        <!-- Button Add New Employee -->
                        <div class="col-md-1 col-sm-4 col-xs-6 pull-right">
                            <a th:href="@{'/employee/add-employee'}" type="button" class="btn btn-primary">Add New</a>
                        </div>
                        <!-- Card title -->
                        <h3 class="box-title">List Product</h3>

                        <!-- Card Content -->
                        <div class="table-responsive">

                            <table class="table" id="tableProduct">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>SKU</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Create By</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                            </table>
                        </div>


                    </div>
                </div>
            </div>



        </div>
        <!-- /.container-fluid -->
        <footer th:replace="fragments/main-page :: main-footer"></footer>
    </div>

</div>

</div>
<div th:replace="fragments/main-page :: jsmodules"></div>
<script src="/jsmodules/product/list.js"></script>
</body>
</html>