<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/main-page :: main-header(titlePage=${title})">
</head>

<body class="fix-header">

<div id="wrapper">
    <div th:replace="fragments/main-page :: main-navbar(username=${username})"></div>
    <div th:replace="fragments/main-page :: main-sidebar"></div>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div>
            <div class="row bg-titlePage">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Employee</h4> </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- table -->
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">

                    <!-- Card Table Employee -->
                    <div class="white-box">

                        <!-- Button Add New Employee -->
                        <div class="col-md-1 col-sm-4 col-xs-6 pull-right">
                            <a th:href="@{'/employee/add-employee'}" type="button" class="btn btn-primary">Add New</a>
                        </div>
                        <!-- Card title -->
                        <h3 class="box-title">List Employee</h3>

                        <!-- Card Content -->
                        <div class="table-responsive">

                            <table class="table" id="tableEmployee">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Create By</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
        <footer th:replace="fragments/main-page :: main-footer"></footer>
    </div>
    <!-- End Page Content -->


</div>

<div th:replace="fragments/main-page :: jsmodules"></div>

<script type="text/javascript" th:inline="javascript">
    let dataEmployeeList = [[${dataEmployee}]];
    let dataEmployeeParse = JSON.parse(dataEmployeeList);
</script>

<script src="/jsmodules/employee/list-datatable.js"></script>
</body>

</html>