<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main-page :: main-header(titlePage=${title})">
</head>
<body class="fix-header">

<div id="wrapper">
    <div th:replace="fragments/main-page :: main-navbar(username=${username})"></div>
    <div th:replace="fragments/main-page :: main-sidebar"></div>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div>
            <div class="row bg-titlePage">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Payment</h4> </div>
                <!-- /.col-lg-12 -->
            </div>


            <!-- Page Content Body -->
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <!-- Card Table Payment -->
                    <div class="white-box">

                        <!-- Button Add New Payment -->
                        <div class="col-md-1 col-sm-4 col-xs-6 pull-right">
                            <button class="btn btn-primary">Add New</button>
                        </div>
                        <!-- Card title -->
                        <h3 class="box-title">List Payment</h3>

                        <!-- Card Content -->


                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
        <footer th:replace="fragments/main-page :: main-footer"></footer>
    </div>
    <!-- End Page Content -->


</div>

<div th:replace="fragments/main-page :: jsmodules"></div>

</body>
</html>